<h1 class="text-center mt-4">Articles</h1>

<div class="apple_pagination">
  <%= will_paginate @articles, :container => false %>
</div>

<%= render 'articles' %>

<div class="apple_pagination">
  <%= will_paginate @articles, :container => false %>
</div>
