<div class='container' id="home-container">
  <div class="bg-light p-5 rounded-lg m-3">
    <h1 class="display-4">Welcome on Alpha Blog</h1>
    <p class="lead">You can post here your articles, comment and read another's.</p>
    <hr class="my-4">
    <p>Just one more step to use that blog - you need to create account.</p>
    <%= link_to 'Sign up', signup_path, class:"btn btn-primary btn-lg" %>
  </div>
</div>
